[code]
  # avoid problems when changing a case of a filename
  ignorecase = false
  excludesfile = ~/.gitignore-global

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ali Shah Lakhani
	email = ali@madeofzero.com
	signingkey = 30984560F63B32ED16E38C2303E1A0C2AF78C0F1
[commit]
	gpgsign = true
[gpg]
	program = gpg
